@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin Page";
} 

<!-- Content Wrapper. Contains page content CUT FROM HERE-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-12 mt-3 mb-3">
            <h1 class="m-0 align-content-center"> Welcome to Housing Estate Management System </h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
         
          <div class="col-lg-6 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>Users</h3>
                <p>Manage Residents</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-users"></i>
              </div>
              <a asp-controller="User" asp-action="Index" class="small-box-footer">
                Go to page <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-6 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>Apartments</h3>
                <p>Manage Apartments</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-building"></i>
              </div>
              <a asp-controller="Apartment" asp-action="Index" class="small-box-footer">
                Go to page <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-6 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>Invoices</h3>
                <p>Manage Invoices</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-file-invoice-dollar"></i>
              </div>
              <a asp-controller="Invoice" asp-action="Index" class="small-box-footer">
                Go to page <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-6 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>Payments</h3>
                <p>Manage Payments</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-cash-register"></i>
              </div>
              <a asp-controller="Payment" asp-action="Index" class="small-box-footer">
                Go to page <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->